*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1
{
    text-align: center;
    font-size: 22px;
    margin: 10px 0px 10px 0px;
}
h2
{
    text-align: center;
    margin: 5px 0px 15px 0px;
}
caption
{
    margin: 0px 0px 3px 0px;
}
#back
{
    font-style:italic;
    margin: 7px 10px 0px 10px;
}
th
{
    text-align: center;
    background-color: green;
    color: darkblue;
    font-weight: bolder;
}
table,th,td
{
    border: 2px solid black;
}
td
{
    text-align: center;
    color: blue;
}
td:nth-child(4)
{
    text-align: right;
}
tr:nth-child(even)
{
    background-color: gray;
} 
main
{
    width: 100%;
    display: flex;
}
.minor
{
    padding: 10px;
}
table
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    /* Large devices */
@media (min-width: 993px) 
{
th 
{
    font-size: 130%;
}
td 
{
    font-size: 120%;
}
}

    /* Medium devices */
@media (min-width: 769px) and (max-width:  992px) 
{
th 
{
    font-size: 120%;
}
td 
{
    font-size: 110%;
}
}

    /* Small devices */
@media (max-width: 768px) 
{                
th 
{
    font-size: 110%;
}
.minor
{
    padding: 20px 0px 20px 0px;                 /*Через те, що табличка на деяких смартфонах нормально не адаптується,     
                                                 я був вимушений зменшити padding-left/right до 0 або просто можна було зробити
                                                ще одну адаптацію до екстрамалих смартофонів і там уже онулювати значення padding*/
}
}